<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.midkerry.weather"
    versionCode = "10"
    version     = "1.1.0" >

  <name>What's The Weather?</name>

  <description>
      Simple weather app using an API to pull in the latest weather information.
  </description>

  <author href="http://midkerry-weather.com/" email="aaronroneill21@gmail.com">
      Aaron O'Neill
  </author>
	
	<icon src="icons/icon.png" gap:role="default" />
	
	<gap:plugin name="cordova-plugin-whitelist" source="npm" />
	<feature name="http://api.phonegap.com/1.0/network"/>
	<allow-navigation href="http://*/*" />
	<allow-intent href="https://*/*" />
	
	<!--
    This allows your app to load assets from all *.phongap.com domains
  -->
  <access origin="*" subdomains="true" />
	
	<splash src="splash.png" />

</widget>