<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.midkerry.weather"
    versionCode = "10"
    version     = "1.0.0" >

  <name>What's The Weather?</name>

  <description>
      Simple weather app using an API to pull in the latest weather information.
  </description>

  <author href="http://midkerry-weather.com/" email="aaronroneill21@gmail.com">
      Aaron O'Neill
  </author>
	
	<!--
    This allows your app to load assets from all *.phongap.com domains
  -->
  <access origin="*" />

</widget>